{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Featured Charities</h1>
            <p>Donate your no longer wanted items to someone that wants them.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for charity in charities %}
                <ul>
                    <li>{{ charity }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}